<%= simple_form_for [@cocktail] do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :photo, as: :file %>
  </div>

  <div class="btn-ghost">
    <%= f.button :submit %>
  </div>
<% end %>
