<!-- <div class="banner">
  <h1> Our Cocktail List </h1>
  <p><span id="banner-typed-text"></span></p>
</div> -->

<div class="front-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1271&q=80);">
  <div class="container">
    <h1>It's Gin O'Clock...</h1>
    <span id="banner-typed-text">Best Gin Cocktails from around the world</span>
    <br>
    <!-- <a class="btn btn-flat" href="#">Add a new cocktail</a> -->
    <%= link_to 'Create a new cocktail', new_cocktail_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="container">
  <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cocktail.picture %>)">
      <div class="d-flex justify-content-between m-2">

        <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
      </div>
    </div>
  <% end %>
  </div>
</div>

