<div class="container">
  <div class="row container-new-cocktail mt-4">
    <div class="col-sm-12 col-md-6">
      <h2>Create your Cocktail</h2>
      <%= render 'form', cocktail: @cocktail %>
      <%= link_to 'Back', cocktails_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
