<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_tag @cocktail.picture.key %>')">
  <div class="container">
    <h2><%= @cocktail.name %></h2>
    <!-- <div style="text-align: center;"><%= cl_image_tag @cocktail.picture.key, :height=>300, width: 400, :crop=>"fill" %></div> -->
  </div>
</div>

<div class="container">
  <%= link_to 'Back', cocktails_path, class: "btn btn-primary mt-4" %>
</div>
