<<h1>Add a Dose for the cocktail</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>

  <div class="form-inputs container">
    <%= f.input :description %>
    <%= f.association :ingredient %>

  </div>

  <div class="form-actions container">
    <%= f.submit "create your cocktail" %>
    </div>
<% end %>
