.form-inputs {
  color: #886428;
}

.form-control {
  border-color: #886428;
  background-color: #886428;
  color: white;
  border-radius: 50px;
  height: 38px;
}

.form-control:hover .form-control:active{
  border-color: #886428;
  background-color: #886428;
  color: white;
  border-radius: 50px;
  height: 38px;
}

.form-control-file {
  border-radius: 50px;
  border: 2px solid #886428;
  background-color: #886428;
  transition: opacity 0.3s ease;
  margin-top: 20px;
  height: 38px;
}
