body {
  color: #fcf8f3;
  // background: rgb(84,62,25,0.9);
  background: linear-gradient(91deg, rgba(47, 35, 36,0.9) 0%, rgba(47, 35, 36,0.9) 100%),
  url("images/shapelined-_JBKdviweXI-unsplash.jpg");
  font-family: 'Montserrat', sans-serif;
  line-height: 16px;
}
